$white: #fff;
$black: #000;
$pink: #e93691;
$primary_blue: #003f77;
$primary_light_blue: #4f8abe;
$primary_yellow: #fcd116;
$light_blue: #d4e9fa;
$grey: #e6e6e6;
$light_yellow: #fef0c2;
$red: #ee2726;
$orange: #f58f2b;
$light_orange: #fcb711;
$lighter_orange: #fcd116;
$light_green: #adcb37;
$green: #26b45d;