@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url("fonts/Dosis-Regular.tff") format("tff"); }
@font-face {
  font-family: 'Dosis Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Bold"), local("Dosis-Bold"), url("fonts/Dosis-Bold.tff") format("tff"); }
body {
  font-family: 'Dosis Regular' !important; }

input {
  padding: 5px;
  border-radius: 4px; }

.dropdown-ul {
  margin: 0 10px 0 10px; }

.fileUpload {
  position: relative;
  overflow: hidden;
  min-width: 100px; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.row > div {
  padding: 15px; }

.generate-report-section {
  background: #d4e9fa; }

.hide-charts {
  display: none; }

.chart-container {
  width: 100%;
  height: 400px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #uploadFile {
    width: 87%;
    margin-bottom: 15px; } }
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  #uploadFile {
    width: 87%;
    margin-bottom: 15px; } }
